@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  
   
} 

 body{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column; 
    
 }

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin:auto;
    background-color: #d90429;
    padding: 20px;  
    border-radius: 10px;
    font-family: sans-serif;
    color: black;
    text-shadow: 2px 2px 2px  white;
    text-align: center;
    padding-bottom: 20px;
    box-shadow:  5px 5px 5px black;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1rem;

}
  
input{
    width: 300px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;    
    border-radius: 8px; 
    padding: 10px;

}
h1{
    margin:0;
    text-align: center;
}

button{
    width: 30%;
    height: 25px;
    border-radius: 10px;
}

button:hover{
    background-color: black;
    color:white
}



#box ul li{
    list-style: none;
}
.adultos::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./Imagens/adulto1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.crianca::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./Imagens/garoto.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tempo::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./Imagens/tempo.png);
    background-repeat: no-repeat;
    background-size: cover;
}



